.quicklinks-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  
  .quicklinks-container > a {
    border: 1px solid lightgray;
    text-align: center;
    font-size: 25px;
    margin: 1.5px;
    padding: 3.5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .quicklinks-container > a:hover {
    background-color: rgb(238, 238, 238);
  }

  .quicklinks-container > a > img {
    width: 100%;
  }

  .essential-picks > a {
    padding: 0px;
    border: none;
  }

  .essential-picks > a:hover {
    border: none;
    background-color: white;
  }